UsersfxvarAppDataLocalTempob-lead-intake-raw.json
{"data":{"updatedAt":"2026-03-18T17:32:52.013Z","createdAt":"2026-03-18T17:29:39.014Z","id":"0GAs0N380aB0u3N7","name":"OpsBlueprint: Lead Intake & Qualification","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"opsblueprint-lead","responseMode":"responseNode","options":{}},"id":"node-webhook","name":"Webhook: OpsBlueprint Lead","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"opsblueprint-lead"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tenantId\": \"{{ $env.MS_GRAPH_TENANT_ID }}\",\n  \"clientId\": \"{{ $env.MS_GRAPH_CLIENT_ID }}\",\n  \"clientSecret\": \"{{ $env.MS_GRAPH_CLIENT_SECRET }}\",\n  \"driveId\": \"{{ $env.SHAREPOINT_DRIVE_ID }}\",\n  \"leadsFolderId\": \"{{ $env.OB_SHAREPOINT_LEADS_FOLDER_ID }}\",\n  \"leadsTrackerFileId\": \"{{ $env.OB_LEADS_TRACKER_FILE_ID }}\",\n  \"mailUserUpn\": \"{{ $env.MAIL_USER_UPN }}\",\n  \"aoaiEndpoint\": \"{{ $env.AZURE_OPENAI_ENDPOINT }}\",\n  \"aoaiDeployment\": \"{{ $env.AZURE_OPENAI_CHAT_DEPLOYMENT }}\",\n  \"aoaiApiVersion\": \"{{ $env.AZURE_OPENAI_API_VERSION }}\"\n}","options":{}},"id":"node-setup","name":"Setup Variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,300]},{"parameters":{"method":"POST","url":"=https://login.microsoftonline.com/{{ $json.tenantId }}/oauth2/v2.0/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"={{ $json.clientId }}"},{"name":"client_secret","value":"={{ $json.clientSecret }}"},{"name":"scope","value":"https://graph.microsoft.com/.default"}]},"options":{}},"id":"node-get-token","name":"Get Graph Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300]},{"parameters":{"jsCode":"// Merge all context: webhook body + setup vars + Graph token\nconst webhook = $('Webhook: OpsBlueprint Lead').first().json;\nconst setup = $('Setup Variables').first().json;\nconst tokenResp = $input.first().json;\n\nconst body = webhook.body || webhook;\nconst leadId = body.id || `OB-LEAD-${Date.now()}`;\n\n// Build Azure OpenAI request for lead qualification\nconst systemPrompt = `You are a lead qualification assistant for OpsBlueprint, a workflow automation consulting firm.\n\nScore this lead from 1-10 based on these factors:\n- Clear pain point involving manual processes scores higher\n- Multiple tools/platforms that need integration scores higher\n- Larger team or company size scores higher\n- Urgency expressed in their description scores higher\n- Higher service tier interest (Professional, Enterprise, Managed) scores higher\n- Vague requirements with no clear scope score lower\n- Very small scope with no clear budget scores lower\n\nRespond with JSON only:\n{\n  \"qualificationScore\": <1-10>,\n  \"qualificationNotes\": \"<2-3 sentence explanation of the score>\",\n  \"suggestedTier\": \"<Starter|Professional|Enterprise|Managed>\",\n  \"estimatedValue\": \"<dollar estimate based on scope and tier>\",\n  \"urgency\": \"<high|medium|low>\",\n  \"followUpRecommendation\": \"<specific next step for the consulting team>\"\n}`;\n\nconst userPrompt = `Qualify this automation consulting lead:\n\nName: ${body.fullName}\nEmail: ${body.email}\nCompany: ${body.company || 'Not provided'}\nIndustry: ${body.industry || 'Not provided'}\nProblem Description: ${body.problemDescription || 'Not provided'}\nService Tier Interest: ${body.serviceTier || 'Not specified'}\nSource: ${body.source || 'Website'}`;\n\nreturn [{\n  json: {\n    ...setup,\n    accessToken: tokenResp.access_token,\n    lead: body,\n    leadId,\n    aoaiBody: {\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ],\n      max_completion_tokens: 1000,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"},"id":"node-build-ai-body","name":"Build AI Qualification","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"method":"POST","url":"={{ $json.aoaiEndpoint }}/openai/deployments/{{ $json.aoaiDeployment }}/chat/completions?api-version={{ $json.aoaiApiVersion }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.aoaiBody) }}","options":{}},"id":"node-ai-qualify","name":"AI Qualify Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"httpHeaderAuth":{"id":"CrB8gOeAUMnTOFA4","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Parse AI qualification result and prepare for Excel + Email\nconst prev = $('Build AI Qualification').first().json;\nconst aiResp = $input.first().json;\n\nlet qualification;\ntry {\n  const content = aiResp.choices[0].message.content;\n  qualification = JSON.parse(content);\n} catch (e) {\n  qualification = {\n    qualificationScore: 5,\n    qualificationNotes: 'AI parsing failed — manual review needed',\n    suggestedTier: 'Professional',\n    estimatedValue: 'Unknown',\n    urgency: 'medium',\n    followUpRecommendation: 'Contact lead directly for more details'\n  };\n}\n\nconst lead = prev.lead;\nconst now = new Date().toISOString();\n\n// Excel row values (must match OBLeadsTable column order exactly)\nconst excelRow = [\n  prev.leadId,\n  lead.fullName || '',\n  lead.email || '',\n  lead.company || '',\n  lead.industry || '',\n  lead.problemDescription || '',\n  lead.serviceTier || '',\n  lead.source || '',\n  String(qualification.qualificationScore),\n  qualification.qualificationNotes,\n  qualification.suggestedTier,\n  qualification.estimatedValue,\n  qualification.urgency,\n  qualification.followUpRecommendation,\n  'New',\n  '',\n  now\n];\n\n// Confirmation email HTML\nconst emailHtml = `\n<div style=\"font-family: 'Inter', Arial, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\">\n  <div style=\"background: #1E293B; padding: 30px; text-align: center;\">\n    <h1 style=\"color: #0D9488; margin: 0; font-size: 24px;\">OpsBlueprint</h1>\n    <p style=\"color: #94A3B8; margin: 5px 0 0;\">Workflow Automation Consulting</p>\n  </div>\n  <div style=\"padding: 30px; background: #f9f9f9;\">\n    <h2 style=\"color: #1E293B;\">Thank you, ${lead.fullName}!</h2>\n    <p>We've received your automation consulting inquiry and are excited to help streamline your operations.</p>\n    <div style=\"background: #fff; border-left: 4px solid #0D9488; padding: 15px; margin: 20px 0;\">\n      <p style=\"margin: 0;\"><strong>Company:</strong> ${lead.company || 'Not provided'}</p>\n      <p style=\"margin: 5px 0;\"><strong>Industry:</strong> ${lead.industry || 'Not provided'}</p>\n      <p style=\"margin: 5px 0;\"><strong>Service Interest:</strong> ${lead.serviceTier || 'Not specified'}</p>\n    </div>\n    <p>Our team will review your inquiry and reach out within 1-2 business days to schedule a free 30-minute discovery call.</p>\n    <p style=\"margin-top: 20px;\">In the meantime, here's what to expect:</p>\n    <ol style=\"color: #475569;\">\n      <li>We'll review your automation needs</li>\n      <li>Schedule a discovery call</li>\n      <li>Provide a detailed proposal with scope and ROI estimate</li>\n    </ol>\n  </div>\n  <div style=\"background: #1E293B; padding: 20px; text-align: center;\">\n    <p style=\"color: #94A3B8; margin: 0; font-size: 12px;\">OpsBlueprint | opsblueprint.fernando-vargas.com</p>\n  </div>\n</div>`;\n\nreturn [{\n  json: {\n    accessToken: prev.accessToken,\n    driveId: prev.driveId,\n    leadsTrackerFileId: prev.leadsTrackerFileId,\n    mailUserUpn: prev.mailUserUpn,\n    leadId: prev.leadId,\n    lead,\n    qualification,\n    excelRow,\n    emailHtml,\n    emailSubject: `OpsBlueprint — We received your inquiry, ${lead.fullName}!`\n  }\n}];"},"id":"node-parse-ai","name":"Parse & Prepare","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,300]},{"parameters":{"method":"POST","url":"=https://graph.microsoft.com/v1.0/drives/{{ $json.driveId }}/items/{{ $json.leadsTrackerFileId }}/workbook/tables/OBLeadsTable/rows/add","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ values: [$json.excelRow] }) }}","options":{}},"id":"node-add-excel-row","name":"Add to Leads Tracker","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,200]},{"parameters":{"method":"POST","url":"=https://graph.microsoft.com/v1.0/users/{{ $('Parse & Prepare').first().json.mailUserUpn }}/sendMail","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Parse & Prepare').first().json.accessToken }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { subject: $('Parse & Prepare').first().json.emailSubject, body: { contentType: 'HTML', content: $('Parse & Prepare').first().json.emailHtml }, toRecipients: [{ emailAddress: { address: $('Parse & Prepare').first().json.lead.email } }], from: { emailAddress: { address: $('Parse & Prepare').first().json.mailUserUpn, name: 'OpsBlueprint' } } }, saveToSentItems: true }) }}","options":{}},"id":"node-send-email","name":"Send Confirmation Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,400]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"qualified\",\n  \"leadId\": \"{{ $('Parse & Prepare').first().json.leadId }}\",\n  \"qualificationScore\": {{ $('Parse & Prepare').first().json.qualification.qualificationScore }},\n  \"suggestedTier\": \"{{ $('Parse & Prepare').first().json.qualification.suggestedTier }}\",\n  \"estimatedValue\": \"{{ $('Parse & Prepare').first().json.qualification.estimatedValue }}\",\n  \"urgency\": \"{{ $('Parse & Prepare').first().json.qualification.urgency }}\",\n  \"emailSent\": true,\n  \"excelUpdated\": true,\n  \"processedAt\": \"{{ new Date().toISOString() }}\"\n}","options":{}},"id":"node-merge-results","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"node-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1960,300]}],"connections":{"Webhook: OpsBlueprint Lead":{"main":[[{"node":"Setup Variables","type":"main","index":0}]]},"Setup Variables":{"main":[[{"node":"Get Graph Token","type":"main","index":0}]]},"Get Graph Token":{"main":[[{"node":"Build AI Qualification","type":"main","index":0}]]},"Build AI Qualification":{"main":[[{"node":"AI Qualify Lead","type":"main","index":0}]]},"AI Qualify Lead":{"main":[[{"node":"Parse & Prepare","type":"main","index":0}]]},"Parse & Prepare":{"main":[[{"node":"Add to Leads Tracker","type":"main","index":0},{"node":"Send Confirmation Email","type":"main","index":0}]]},"Add to Leads Tracker":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Send Confirmation Email":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":false,"instanceId":"portfolio-n8n"},"pinData":null,"versionId":"308f33e4-f837-4138-b5b7-f0d2c37b9e97","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-18T17:29:39.014Z","createdAt":"2026-03-18T17:29:39.014Z","role":"workflow:owner","workflowId":"0GAs0N380aB0u3N7","projectId":"QINV2jW27m08z9Qi","project":{"updatedAt":"2026-03-18T13:43:03.941Z","createdAt":"2026-03-18T13:35:42.297Z","id":"QINV2jW27m08z9Qi","name":"fernando vargas <fxvarga@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fc3fb7a1-ce62-4122-9c96-5f88ee1f2de0"}}],"tags":[],"parentFolder":null,"activeVersion":null,"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"checksum":"ee8ecd2d53564b0e024c01e698a32e644eb9767b731dbfcac94f8f54331946f1"}}